<div (click)="navigate()" class="productcard w-[17rem] m-3 transition-all cursor-pointer">
    <div class="h-[20rem]">
        <img 
            [src]="product.imageUrl"
            alt="product image"
            class="h-full w-full"
            />
    </div>
    <div class="textpart p-3 bg-[#181818]">
        <div class="text-left">
            <p class="opacity-80">
                {{product.brand}}
            </p>
            <p>
                {{product.title}}
            </p>
            <p class="text-gray-600">
                {{product.color}}
            </p>
        </div>
        <div class="flex flex-wrap space-x-2 items-center">
            <p class="font-bold">
                ₹{{product.discountedPrice}}
            </p>
            <p class="text-gray-400 line-through">
                ₹{{product.price}}
            </p>
            <p class="text-green-400 font-semibold">
                {{product.discountPersent}} %
            </p>
        </div>
    </div>
</div>