<div class="container">
    <div class="grid-cols-12 gap-3">
        <div class="flex items-center">
            <div class="w-[3rem] h-[3rem] overflow-hidden">
                <img class="rounded-full w-full h-full object-cover"
                    src="https://cdn1.vectorstock.com/i/1000x1000/67/10/beautiful-female-logo-profile-vector-29006710.jpg"
                    alt="profile" />
            </div>
            <div class="ml-2">
                <p class="font-semibold text-lg" style="margin: 0 0 0; text-transform: capitalize;">codeingwallah</p>
                <p class="opacity-70">26 Aug, 2023</p>
            </div>
        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <app-star-rating></app-star-rating>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, excepturi?</p>
            </div>
        </div>
    </div>
</div>